.App {
    height: 800px;
    width: 900px;
    text-align: center;
<<<<<<< HEAD
    background-color: rgb(193, 247, 229);
=======
    background-color: aquamarine;
>>>>>>> d11bd125d64bb9acc992115245340a759f382fe6
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
}
.Pesquisar {
    padding: 20px;
}
input {
    margin-left: 20px;
    height: 1px;
    padding: 16px;
    margin-right: 40px;
    
}
button {
height: 25px;
background-color: burlywood;
border: 1px;
border-radius: 40px;
}
button:active {
    transform: scale(1.5);
    
}
button:hover {
    background-color: blueviolet;
    color: aliceblue;
}
.Pesquisar {
    margin-top: 30px;
}

footer {
    background-color: rgb(2, 49, 49);
    color: bisque;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}
/* @media only screen and (max-width: 600px) {
    body {
    background-color: rgb(28, 41, 46);
    }
} */